<section>
    <div class="container">
        {{#if delivery}}
           {{#each delivery}} 
    <div class="border border-5 rounded mt-5 mb-5">
        <div class="container m-3">
            <h6 class="card-text">Delivery Date: {{this.deliveryDate}}</h6>
            <h6 class="card-text">Mobile: {{this.deliveryDetails.mobile}}</h6>
            <h6 class="card-text">Address: {{this.deliveryDetails.address}}</h6>
            <h6 class="card-text">Pincode: {{this.deliveryDetails.pincode}}</h6>
            <h6 class="cart-text">Payment: {{this.paymentMethod}}</h6>
            <h6 class="card-text">Status: {{this.status}}</h6>
            <h3 class="cart-text">Total: ₹{{this.total}}</h6>
        </div>
    </div>
    {{/each}}
    {{else}}
<h3 class="text-center mt-3">There is no Deliveries</h3>
    {{/if}}
    </div>
</section>