<section
  class="mb-5 mt-2"
  style="height: 80vh;display: flex;align-items: center;">
  <div class="container mb-5 mt-5">

    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">

        <div id="mdb-lightbox-ui"></div>

        <div class="mdb-lightbox">

          <div class="row product-gallery mx-1">

            <div class="col-12 mb-0">
              <figure class="view overlay rounded z-depth-1 main-img">
                <a
                  href="/admin/product/{{product._id}}"
                  data-size="710x823"
                >
                  <img
                    src="/product-images/{{product._id}}.jpg"
                    class="img-fluid z-depth-1 rounded scale"
                    width="475px" 
                  />
                </a>
              </figure>
            </div>

          </div>

        </div>

      </div>
      <div class="col-md-6 mt-5">

        <h5>{{product.name}}</h5>
        <p class="mb-2 text-muted text-uppercase small">{{product.category}}</p>
        <p><span class="mr-1"><strong>₹{{product.price}}</strong></span></p>
        <p class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Numquam, sapiente illo. Sit error voluptas repellat rerum quidem,
          soluta enim perferendis voluptates laboriosam. Distinctio, officia
          quis dolore quos sapiente tempore alias.</p>
        <hr />
      </div>
    </div>

  </div>
</section>
<!--Section: Block Content-->