 <section>
  <div class="container mt-5">

    <div class="row">
      {{#each products}}
        <div class="col-md-3 p-5 scale"  >
          <div class="card" style="width: 15rem;height: 26rem;" >
          {{!-- <a href="/product/{{this._id}}" style="height: 15rem;overflow-y: hidden;"> --}}
             <img class="rounded scale" style="height: 15rem;overflow-y: hidden;" src="/product-images/{{this._id}}.jpg" alt="">
        {{!-- </a> --}}
            <div class="card-body">
              <a style="text-decoration: none;font-size: 20px;" href="/product/{{this._id}}" class="card-title text-dark">{{this.name}}</a>
              <p class="card-text" style="height: 2rem;overflow-y:hidden;">₹{{this.price}}</p>
              <button onclick={addToCart('{{this._id}}')} class="btn btn-primary scale">Add to cart</button>
              <a href="/buy-now/{{this.name}}/{{this._id}}"  class="btn btn-primary scale float-end">Buy Now</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>

<script>

</script>