<section>
    <div class="container">
        
        {{#if carts}}
        <table class="table mt-5" >
            <thead>
                <tr>
                    <th scope="col">Items</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            {{#each carts}}
            <tbody>
                <tr>
                    <td><img src="{{this.product._id}}.jpg" style="width: 50px;height: auto;" alt=""></td>
                    <td>{{this.product.name}}</td>
                    <td><button class="cart-item-count btn btn-primary mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)" style="width: 40px;margin-right: 10px;">+</button><span id="item-quantity" >{{this.quantity}}</span><button class="cart-item-count btn btn-primary" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)" style="width: 40px;margin-left: 10px;">-</button></td>
                    <td>{{this.product.price}}</td>
                    <td><a href="" class="btn btn-danger">Remove</a></td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        {{else}}
        <h1 class="text-center" >Cart is empty</h1>
        {{/if}}
    </div>
</section>
