<section>
  <div class="container">

    {{#if carts}}
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Items</th>
            <th scope="col">Title</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        {{#each carts}}
          <tbody>
            <tr>
              <td><img
                  src="{{this.product._id}}.jpg"
                  style="width: 50px;height: auto;"
                  alt=""
                /></td>
              <td>{{this.product.name}}</td>
              <td><button class="cart-item-count btn btn-primary mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)" style="width: 40px;margin-right: 10px;">+</button>
              <span id="{{this.product._id}}"
                >{{this.quantity}}</span><button
                  class="cart-item-count btn btn-primary"
                  onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)"
                  style="width: 40px;margin-left: 10px;" id="decrease"
                >-</button></td>
              <td>{{this.product.price}}</td>
              <td><a
                  href="/remove-cart-product/{{this.product._id}}"
                  class="btn btn-danger"
                >Remove</a></td>
            </tr>
          </tbody>
        {{/each}}
      </table>
      {{!-- <hr> --}}
      <div class="float-end me-5">
      <h5>Total : 1000</h5>
      <a href="/place-order" class="btn btn-primary" style="width: 200px;">Place Order</a>
      </div>
    {{else}}
      <h1 class="text-center">Cart is empty</h1>
    {{/if}}
  </div>
</section>
<script>

</script>