<section>
    <div class="container">
        <div class="mt-5" ><a class="btn btn-primary" style="width: 100%;" href="/order-products">View All Products</a></div>
        <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Address</th>
      <th scope="col">Pincode</th>
      <th scope="col">Mobile</th>
      <th scope="col">Amount</th>
      <th scope="col">Payment</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
      {{#each orders}}
    <tr>
      <td style="width: 250px;" >{{this.date}}</td>
      <td>{{this.deliveryDetails.pincode}}</td>
      <td>{{this.deliveryDetails.address}}</td>
      <td>{{this.deliveryDetails.mobile}}</td>
      <td>{{this.total}}</td>
      <td>{{this.paymentMethod}}</td>
      <td>{{this.status}}</td>
      <td><a class="btn btn-primary" href="/view-order/{{this._id}}">View_Products</a></td>
    </tr>
      {{/each}}
  </tbody>
</table>
    </div>
</section>